altgraph==0.17
appdirs==1.4.3
attrs==19.3.0
black==19.10b0
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
entrypoints==0.3
flake8==3.7.9
huepy==1.2.1
idna==2.9
importlib-metadata==1.6.0
Jinja2==2.11.1
macholib==1.14
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.2.0
packaging==20.3
pathspec==0.7.0
pickleDB==0.9.2
pip-autoremove==0.9.1
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
PyInstaller==3.6
pyjq==2.4.0
pyparsing==2.4.7
pytest==5.4.1
PyYAML==5.3
regex==2020.4.4
requests==2.23.0
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
urllib3==1.25.8
wcwidth==0.1.9
zipp==3.1.0
